.ev-alert{
	right:20px;
	position: absolute;
	z-index: 2;
}
#picker {
	margin:0;
	padding:0;
	border:0;
	border-right: 20px solid #CCC;
	border-left: 1px solid #CCC;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}